*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height:500px;
}

nav{

position: fixed;
top: 0;
z-index: 1;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
box-shadow: 0px 0px 1px rgb(43, 41, 41);
height: 48px;

}



nav .items-1{

    margin: 16px 80px 12px 240px;
}


.logo img{
 
    margin-left:32px;
    margin-top: 15px;
    margin-bottom: 14px;
    margin-right: 0px; 
}



nav .items-2{
    margin: 12px 47px 12px 80px;
}



nav .items-2 a{
    color: #282828;
}



nav .language{
margin: 16px 28px 12px 0px; 
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
}


.english{
color: #FF8500;
}


a{
    text-decoration: none;
    margin: 10px 18px 12px 0;
    color: #938C8C;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    }

    


    .container{
  
 
        background-image: url(../../imag/background.jpg);
        width: 100%;
      
    }
    
    .findjob{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    
    .findjob h1{
    
    margin-bottom: 18px;
    
           
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 64px;
    color: #000000;
            
    }
    
    
    .findjob .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        width:500px;
        padding: 14px 3px 10px 3px;
        margin: 18px 326px 22px 313px;
    }
    
    .findjob button{
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 162px;
        height: 31px;
        border-radius: 5px;
        color: white;
        background: black;
        border: none;
        font-size: 15px;
        cursor: pointer;
    }
    
    .search{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;  
    }
    
    
    
    .searchbar{
       display: flex;
       border-bottom-style: groove;
     margin-top: 22px;
     margin-bottom: 32px;
    }
    
    
    .searchbar input{
        width: 560px;
        height: 37px;
        border: none;
        font-size: 15px;
        background-color: transparent;
    }
    
    
    .searchbar .icon-one,.searchbar .icon-two{
    
        margin: 10px 10px; 
    }
    
    .course{
    
        justify-content: space-between;
        display: flex;
    
       
    }
    
    .course a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
        color:  #938C8C;;
    }
    
    .course .all-posts{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #282828;
    border-bottom: 2px solid #FF8500;
    }
    

    




.cards{
display: flex;

justify-content:space-between;
align-items: center;

padding: 120px 70px;
}

.cards .card{
width: 305px;
height: 401px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(40, 40, 40, 0.15);
border-radius: 10px;


}

.text{
    display: flex;
}
 img{
    margin-top: 18px;
    margin-left: 32px;
}


.text h4{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 24px;

margin-left: 8px;
margin-right: 31px;
margin-top: 26px;
}

.text span{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: 19px;
text-align: right;
color: #938C8C;

margin-right: 32px;
margin-top: 29px;
}



.job h5{


font-family: 'Montserrat';
font-style: normal;
font-weight: 500px;
font-size: 16px;
line-height: 28px;

color: black;
height: 28px;
width: 145px;
margin: 18px 192px 32px 32px;

}

.info{
    margin: 0 32px 22px 32px;
    
}

.info p{

    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

margin-bottom:18px;
margin-left: 5px;
color: #938C8C;

}

.name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

margin-bottom: 18px;
margin-left: 5px;

color: #000000;
}

.active{
    display: flex;
        justify-content: space-between;
        align-items: center;
    
}
.active h6{
position: relative;
font-family: 'Montserrat';
font-style:normal ;
font-weight: 400;
font-size: 8px;
line-height: 19px;
text-decoration:dashed ;
margin: 4px 90px 18px 38px;
color: #71AA27;



}
.dot{
margin:4px 2px 18px 32px;
height: 4px;
width: 4px;
border-radius: 5px;
background-color: #71AA27;
position: absolute;

}

.date{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 8px;
text-align: end;

color: #938C8C;
margin: 4px 32px 18px 0px;

}
.date span{
    margin-left: 6px;
    margin-right: 2px;
}

 .all-info a{
background: #282828;
border-radius: 4px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
padding: 9px 47px;

text-align: center;

width: 241px;
height: 37px;
color: white;
border: none;
margin: 18px 32px 18px 32px;
cursor: pointer;  
height: 40px;
width: 241px;




}












    .footer{
        background-color:  #282828;
        height: 200px;
        }
        

    .all{

        position: absolute;
        margin: 32px 120px ;
    
    }
    
     .start{
    
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
       
    
    }
    
    footer .contact h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        
    }
    
    footer .contact p{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 8px;
    }


    .end{
      
        display: block;           
       
    }
    
    
    .end p{
    color: #FFFFFF;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    }
    
    
    .line{
      
        display: block;
        border-bottom: 2px solid white;
        width:800px;
        margin-left: 400px ;
    }


